<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="~{/common :: copy}"></th:block>
    <title>放款审核</title>
</head>
<body>
<div id="app">
    <div style="margin-bottom: 10px">
        <el-input style="width:200px;" v-model="keyword" ></el-input>
        <el-button type="success" @click="search"  icon="el-icon-search">搜索</el-button>
    </div>
    <template>
        <el-table
                v-loading="vloading"
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="lid"
                    label="编号:"
            >
            </el-table-column>
            <el-table-column
                    prop="ordernumber"
                    label="订单编号:"
            >
            </el-table-column>
            <el-table-column
                    prop="cusname"
                    label="客户姓名:"
            >
            </el-table-column>
            <el-table-column
                    prop="loanmount"
                    label="贷款金额"
            >
            </el-table-column>
            <el-table-column
                    prop="bystages"
                    label="分期数"
            >
            </el-table-column>
            <el-table-column
                    prop="orderdate"
                    label="下单日期"
            >
            </el-table-column>
            <el-table-column
                    prop="banknumber"
                    label="客户银行卡号"
            >
            </el-table-column>
            <el-table-column
                    prop="bankaccountid"
                    label="公司银行卡编号"
            >
            </el-table-column>
            <el-table-column
                    prop="loanstatus"
                    label="贷款状态"
            >
            </el-table-column>
            <el-table-column
                    fixed="right"
                    width="150px"
                    label="操作">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            type="primary"
                            @click="passoperate(scope.row)">同意放款</el-button>

                </template>

            </el-table-column>

        </el-table>
    </template>
    <el-dialog
            title="提示"
            :visible.sync="dialogVisible"
            width="30%"
    >
        <el-form ref="form" :model="form" label-width="80px" :rules="rules">
            <el-form-item label="订单编号" prop="ordernumber">
                <el-input v-model="form.ordernumber" suffix-icon="el-icon-edit"></el-input>
            </el-form-item>
            <el-form-item label="贷款金额" prop="loanmount">
                <el-input v-model="form.loanmount" suffix-icon="el-icon-edit"></el-input>
            </el-form-item>
            <el-form-item label="分期数" prop="bystages">
                <el-input v-model="form.bytages" suffix-icon="el-icon-edit"></el-input>
            </el-form-item>
            <el-form-item label="下单时间" prop="orderdate">
                <el-input v-model="form.orderdate" suffix-icon="el-icon-edit"></el-input>
            </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="resetForm('form')">取 消</el-button>
                <el-button type="primary" @click="onSubmit('form')">确 定</el-button>
            </span>
    </el-dialog>
</div>
<script>
    axios.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded';
    Vue.prototype.$axios = axios;
    new Vue({
        el:"#app",
        data:{
            tableData:[],
            dialogVisible:false,
            form:{
                ordernumber:'',
                loanmount:'',
                bystages:'',
                orderdate:''
            },
            keyword: '',
            //控制是否显示加载中
            vloading:false
        },
        //当vue组件加载完成后会自动调用此函数
        mounted:function (){
            this.loadTableData();
        },
        //事件
        methods:{
            //查询待审核信息
            loadTableData:function(keyword){
                this.vloading=true;
                //向后台发起ajax请求,加载树的节点的数据
                var vue=this;
                axios.get('loanAuditlist',{params:{keyword:this.keyword}})
                    .then(function (response) {
                        vue.vloading=false;
                        vue.tableData = response.data;

                    })
                    .catch(function (error) {
                        vue.vloading =false;
                        Vue.prototype.$message.error("服务器产生严重异常，请联系管理员...");
                    });
            },
            //通过后的事件
            passoperate:function(row){
                //往后台发送ajax请求
                var vue=this;
                axios.post('passAfter',row)
                    .then(function () {
                        vue.loadTableData();
                    })

            },
            //驳回后的事件
            rejectrequest:function(row){
                var vue = this;
                this.$confirm('您确定要驳回申请吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    //往后台发送ajax请求
                    axios.post('rejectAfter',row)
                        .then(function (res) {
                            //如果删除成功
                            if(res.data.success){
                                //刷新界面
                                vue.loadTableData();
                            }else{
                                Vue.prototype.$message.error(res.data.error);
                            }
                        })
                        .catch(function (error) {
                            console.info(error);
                            Vue.prototype.$message.error("保存服务器产生异常，请联系管理员");
                        });
                });
            },
            //显示编辑的窗口
            showEditWin:function(){
                this.dialogVisible=true;
            },
            //事件
            onSubmit:function (formName) {
                var v=this;
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        //往后台发送ajax请求，校验用户名和密码
                        axios.post('saveOrUpdate',this.form)
                            .then(function (response) {
                                //如果登录成功，跳转到主界面
                                if(response.data.success){
                                    alert(123);
                                    //跳转到主界面
                                    // window.location.href="sysIndex";
                                }
                                else{
                                    v.$message.error(response.data.error);
                                }
                            })
                            .catch(function (error) {
                                Vue.prototype.$message.error("服务器产生严重异常，请联系管理员...");
                            });
                    }
                    else{
                        return false;
                    }
                });
            },
            //重置事件
            restForm: function (formName) {
                this.$refs[formName].resetFields();
            },
            //搜索
            search:function(){
                //获取用户的输入
                this.loadTableData();
            }
        }

    })
</script>
</body>
</html>