<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于我们页面</title>
    <script src="/client-static/Jquery/jquery-3.4.1.min.js"></script>
<body>
<!--引用头部-->
<!-- start header -->
<div class="toppage"></div>
<div class="content" style="width: 100%;
                    background: #e4d3d34f;">
    <div class="introduce" style="height: 204px;
                                width: 923px;
                                margin: 10px auto;
                                padding-top: 20px;">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校园春色小额贷款（郑州）有限公司是中国领先的小额信贷技术服务企业，是世界银行国际金融公司（IFC）的参股企业。
            十几年来，匡企小额贷款（郑州）有限公司通过其微贷技术服务协助银行等金融机构为小微企业主、个体商户及工薪阶层提供快速简便、免抵押、免担保的小额贷款服务，最高贷款金额可达50万元。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校园春色小额贷款（郑州）有限公司与众多国际、国内领先的金融机构建立了长期战略合作关系。
            与国家开发银行和中国建设银行共同开发的微贷款业务“助贷”代理模式，不仅荣获金融创新奖，还广泛应用于与中国多家金融机构的长期合作中。</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;校园春色小额贷款（郑州）有限公司在全国近40个省市拥有近百个便利的营业网点，数千名员工为全国400多个城市的数百万名客户提供了咨询服务。
            通过我们的服务，促进了创业就业，帮助客户经营成功，改善生活，实现梦想。</p>
    </div>
    <div class="map" style="border: 1px #c2b3b3 solid;width: 1003px;margin: auto"><img src="/client-static/image/qiantai/conpanymap.png" style="width: 1000px;">
    </div>
</div>
<div class="footpage"></div>
<!--end header -->
</body>
<script>
    $(function(){
        $(".toppage").load("/client/top");
        $(".footpage").load("/client/foot");
    });

</script>
</html>