<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请贷款</title>
    <script src="/client-static/Jquery/jquery-3.4.1.min.js"></script>
</head>
<body>
<!--引用头部-->
<!-- start header -->
<div class="toppage"></div>
<div class="content" style="width: 100%;
                    background: #e4d3d34f;">
    申请贷款
</div>
<div class="footpage"></div>
<!--end header -->
</body>
<script>
    $(function(){
        $(".toppage").load("/client/top");
        $(".footpage").load("/client/foot");
    });

</script>

</html>