<link rel="stylesheet" type="text/css" href="/client-static/css/style.css">
<!-- end banner_x -->
<footer class="footer" style="width: 100%;">
    <div class="footer_01" style="width: 100%;

height: 143px;

border: #b98d8d solid 2px;">
        <b style="color: red">郑重承诺：未成功放款，绝不收取任何费用！市场有风险，选择需谨慎</b>
        <p>版权所有 校园春光小额贷款（郑州）有限公司</p>
        <p>Copyright LTD.All Rights Reserved</p>
        <span><a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备17120252号</a></span>
    </div>
</footer>