<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:fragment="copy">

        <link rel="stylesheet" th:href="@{/client-static/css/style.css}" >

        <link rel="stylesheet" th:href="@{/client-static/css/login.css}" >

        <!--<link rel="stylesheet" th:href="@{/client-static/css/jquery.smarticker.css}" >-->

        <script th:src="@{/client-static/js/jquery-1.10.2.min.js}"></script>

        <!--<script th:src="@{/client-static/js/smarticker.js}"></script>-->

        <script th:src="@{/client-static/Jquery/jquery-3.4.1.min.js}"></script>

        <script th:src="@{/client-static/Jquery/jquery.form.js}"></script>

        <script th:src="@{/client-static/js/main.js}"></script>

        <script th:src="@{/client-static/js/distpicker.js}"></script>

        <script th:src="@{/client-static/js/distpicker.data.js}"></script>
    </th:block>
</head>
<body>

</body>
</html>