<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="author" content="order by dede58.com"/>
	<title>校园春光小额贷</title>
	<link rel="stylesheet" type="text/css" href="css/jquery.smarticker.css">
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="/ssm/Jquery/jquery-3.4.1.min.js"></script>
</head>
<body>
<!--引用头部-->
<!-- start header -->
<div class="toppage"></div>
<!--end header -->

<!-- start banner_x -->
<div class="banner_x center" style='background:url("/ssm/image/qiantai/indexcenter.jpg");width: 100%;'>
	<!--	<img src="/ssm/image/qiantai/indexcenter.jpg" class="indexconter" style="width: 100%">-->
	<div class="content border-top lightgray blue" id="conter_new" style="width: 634px;
position: absolute;
left: 1052px;
height: 398px;
padding-top: 50px;">
		<div class="padding">
			<div class="smarticker5">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>

			<div class="smarticker6">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>
			<div class="smarticker5">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>

			<div class="smarticker7">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>

			<div class="smarticker8">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>
			<div class="smarticker7">
				<ul>
					<li data-subcategory="金融" data-category="谷歌新闻" data-color="14ab05"><a href="#">世界上最可爱的飞机头</a></li>
					<li data-subcategory="体育" data-category="雅虎新闻" data-color="f45151"><a href="#">雨倾泻在穆雷美国公开赛游行</a></li>
					<li data-subcategory="财富" data-category="谷歌新闻" data-color="23a0e8"><a href="#">印度卢比上涨,尽管国际货币基金组织(IMF)救援投机</a></li>
					<li data-subcategory="财富" data-category="今日美国" data-color="14ab05"><a href="#">中国公司挖走谷歌高管</a></li>
					<li data-subcategory="体育" data-category="新闻扫描" data-color="cf29b9"><a href="#">布伦南:Manziel暂停计数</a></li>
					<li data-subcategory="科技" data-category="福克斯新闻" data-color="1979ab"><a href="#">戴尔将一些工作在孤星之州</a></li>
					<li data-subcategory="科技" data-category="Abc News" data-color="f45151"><a href="#">回到学校学生省钱的应用</a></li>
					<li data-subcategory="财富" data-category="Usa Today" data-color="ed4c4c"><a href="#">石油价格上涨抑制股市吗?</a></li>
					<li data-subcategory="健康" data-category="Abc News" data-color="cf29b9"><a href="#">Pa。有争议的肺移植后女孩回家</a></li>
					<li data-subcategory="金融" data-category="Yahoo News" data-color="f45151"><a href="#">石油高点,股票可能会推迟在叙利亚行动</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="conter_y" style="width: 100%;
height: 250px;
background: #e8e1e14f;
">
	<div class="content_2" style="width: 1000px;height: 88px;margin: 2px auto;">
		<img src="/ssm/image/qiantai/indexcenter01.png">
	</div>
	<div class="content_3" style="width: 1000px;height: 88px;margin: 2px auto;">
		<img src="/ssm/image/qiantai/indexcenter02.png">
	</div>
</div>


<!-- end banner_x -->
<footer class="footer" style="width: 100%;">
	<div class="footer_01" style="width: 100%;

height: 143px;

border: #b98d8d solid 2px;">
		<b style="color: red">郑重承诺：未成功放款，绝不收取任何费用！市场有风险，选择需谨慎</b>
		<p>版权所有 校园春光小额贷款（郑州）有限公司</p>
		<p>Copyright LTD.All Rights Reserved</p>
		<span><a href="http://www.miitbeian.gov.cn" target="_blank">豫ICP备17120252号</a></span>
	</div>
</footer>

</body>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="js/smarticker.js"></script>

<script>
	$(function(){
		$(".toppage").load("/ssm/toppage");
	});

</script>

</html>